@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.roundButton {
  @apply p-3 rounded-3xl cursor-pointer shadow-[5px_5px_5px_1px_rgba(0,0,0,0.3),_-5px_-5px_5px_1px_rgba(255,255,255,0.5),_inset_1px_1px_2px_1px_rgba(255,255,255,0.5),_inset_-1px_-1px_2px_1px_rgba(0,0,0,0.3)] dark:shadow-[5px_5px_5px_1px_rgba(0,0,0,0.5),_-5px_-5px_5px_1px_rgba(255,255,255,0.2),_inset_1px_1px_2px_1px_rgba(255,255,255,0.5),_inset_-1px_-1px_2px_1px_rgba(0,0,0,0.3)];
}

.textInputField {
  @apply rounded-3xl bg-backgroundLight dark:bg-backgroundDark shadow-[inset_-5px_-5px_5px_rgba(255,255,255,0.5),_inset_5px_5px_5px_rgba(0,0,0,0.2)] dark:shadow-[inset_5px_5px_5px_rgba(0,0,0,0.4),_inset_-5px_-5px_5px_rgba(255,255,255,0.3)] pl-5;
}

.profileGradientLight {
  background: linear-gradient(
    0deg,
    rgba(236, 240, 243, 1) 15%,
    rgba(0, 0, 0, 0) 75%
  );
}

.profileGradientDark {
  background: linear-gradient(
    0deg,
    rgba(44, 48, 53, 1) 15%,
    rgba(0, 0, 0, 0) 75%
  );
}

.fileInput {
  margin-right: 10px;
  height: 40px;
  width: 85px;
}
.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.fileInput::before {
  content: "Browse";
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
  transform: translateY(-9px);
}
